// Primary Colors 
$name-color:#205072;
$tradmark-color:#56c596;
$link-color:#2E4DD4;
// Gradient Colors
$gradient-color-1:#329d9c;
$gradient-color-2:#7be495;
$gradient-color-3:#63BCC9 ;
$gradient-color-4:#47CACC  ;
$gradient-color-5:#205072 ;
$gradient-color-6:#f75010;

// Secondary Colors 
$secondary-color-1:#2c6975;
$secondary-color-2:#68b2a0;
$secondary-color-3:#cde0c9;
$secondary-color-4:#e0ecde;
$secondary-color-5:#3DB5B6 ;

// State Colors 
$success:#7be495;
$warning:#ffcf5c;
$error:#f75010;

// Btns Colors
$btn-color:#fff;

// Tertiary Colors 
$tertiary-color-1:#47cacc;
$tertiary-color-2:#cdb3d4;
$tertiary-color-3:#e7b7cb;
$tertiary-color-4:#ffbe88;

//input colors 

$input-color-1:#707070 ;
$input-color-2:#7be495;



