.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pi{
    z-index: 2;
    
}
.pi-plus{
    color:#fff ; 
}
.table-responsive{
    overflow-y: visible !important;
}