// Shadows
$shadow-1:8px 8px 13px rgba(0, 0, 0,.13);
$shadow-2:13px 13px 34px rgba(0, 0, 0,.13);
$shadow-3:21px 21px 55px rgba(0, 0, 0,.13);
$shadow-4:34px 34px 89px rgba(0, 0, 0,.13);
$shadow-5:55px 55px 144px rgba(0, 0, 0,.13);
$shadow-6:55px 55px 144px rgba(86, 197, 150,.21);
// $shadow-7:34px 34px 89px rgba(86, 197, 150,.21);
$shadow-7:0px 0px 0px rgba(86, 197, 150,.21);
